<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <p id="notice"><%= notice %></p>
</div>

<h1 class="display-3 text-center">Projects</h1>

<table>
  <thead>
    <tr>

    </tr>
  </thead>

  
    

  <tbody>
      <tr>
        <div class="album py-5 bg-dark">
          <div class="container">            
            <div class="row">
                <% @projects.each do |project| %>
                  <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                      <h4 class="card-title text-center"><%= project.title %></h4>
                      <div class="card-body">
                        <p class="card-text"><%= project.description %></p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="list-group list-group-horizontal">
                            <li class="list-group-item"><%= link_to 'Show', project %></li>
                            <li class="list-group-item"><%= link_to 'Edit', edit_project_path(project) %></li>
                            <li class="list-group-item"><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
            </div> 
          </div>
        </div>
      </tr>
  </tbody>
</table>

<br>
